h1 {
  font-family: "Courier New";
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: #edb882 solid 5px;
  color: black;
}

span {
  color: #7d4712;
  padding: 10px;
  background-color: #edb882;
}
